<mat-table #table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container matColumnDef="Id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="telephoneNumber">
    <mat-header-cell *matHeaderCellDef> Telephone Number </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.telphoneNumber}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="button">
    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="openDialog(element)">Pick one</button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
