<mat-card class="telephone-border" >
  <mat-grid-list [cols]="5" *ngFor="let contact of contacts">
    <mat-grid-tile [colspan]="1" class="telephone-border">
      <img mat-card-avatar src="/assets/img/profile.jpg" />
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" class="telephone-border" [rowspan]="contact.contactNumbers.length">
      <mat-list class="text-inside-grid">
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let contactNumber of contact.contactNumbers">
          <mat-icon>{{contactNumber.telephoneType}}</mat-icon>
          {{contactNumber.telephoneNumber}}
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"class="telephone-border">
      <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span color="primary">EDIT</span>
        </button>
        <button mat-menu-item color="primary">Delete</button>
      </mat-menu>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
