<mat-card *ngFor="let contact of contacts" class="example-card">
  <mat-grid-list cols="6">
    <mat-grid-tile colspan="1" rowspan="1" [style.border-right]="'1px dashed #ddd'" >
      <img mat-list-avatar="/assets/img/profile.jpg" alt="Desc 1" />
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" [style.border-right]="'1px dashed #ddd'" >
      <mat-list>
        <mat-list-item>
          <mat-icon>home</mat-icon>
          <span style="padding-left: 10px">0173329119</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon>work</mat-icon>
          <span style="padding-left: 10px">089224542345</span>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
