<mat-card *ngFor="let contact of contacts" class="contact-card">
  <mat-grid-list cols="3" rowHeight="50">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-list>
        <mat-list-item>
          <img mat-list-avatar src="/assets/img/profile.jpg"  />
          <h2 mat-line>{{contact.name}}</h2>
          <br />
          <h3 mat-line>{{contact.address}}</h3>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="1" [rowspan]="contact.contactNumbers.length">
      <mat-list>
        <mat-list-item *ngFor="let contactNumber of contact.contactNumbers">
          <mat-icon>{{contactNumber.telephoneType}}</mat-icon>
          <span>{{contactNumber.telephoneNumber}}</span>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span color="primary">EDIT</span>
        </button>
        <button mat-menu-item color="primary">Delete</button>
      </mat-menu>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
